#tetris-game {
  font-family: Arial;
  font-size: 0px;
	height: 640px;
  width: 700px;
  margin: 20px auto;
}
#game-board {
	width: 480px;
  height: 100%;
  display: inline-block;
}
#stats-board {
  border: 1px solid black;
  width: 200px;
  float: right;
  font-size: 14px;
  vertical-align: text-top;
}

/* Game styles */
.tetris-row {
	font-size: 0px;
	text-align: center;
}
.tetris-cell {
	display: inline-block;
	background-color: black;
}

/* Individual piece styles */
.tetris-cell.tetris-I {
	background-color: red;
}
.tetris-cell.tetris-J {
	background-color: blue;
}
.tetris-cell.tetris-S {
	background-color: yellow;
}
.tetris-cell.tetris-Z {
	background-color: green;
}
.tetris-cell.tetris-L {
	background-color: orange;
}
.tetris-cell.tetris-O {
	background-color: purple;
}
.tetris-cell.tetris-T {
	background-color: teal;
}
